.boardgame-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1259px;
  height: 995px;
  padding: 40px 80px;
}

.white-tile {
  width: 148px;
  height: 108px;
  background-color: #fff;
  border: 1px solid #707070;
}

.red-tile {
  width: 148px;
  height: 108px;
  background-color: #730217;
  border: 1px solid #707070;
  color: #fff;
}

.big-tile {
  width: 177px;
  height: 270px;
  background-color: #fff;
  border: 1px solid #707070;
}

.finale-tile {
  width: 475px;
  height: 269px;
  background-color: #fff;
  border: 1px solid #707070;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  margin-top: -119px;
  /*Big tile width*/
  margin-left: 177px;
}

.row-reverse {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  width: 97%;
  margin-top: -10px;
}

.row-reverse-aligned {
  margin-right: 177px;
  margin-top: -119px;
}

.row-finale {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.column {
  display: flex;
  flex-flow: column;
}

.column-finale {
  margin-top: 81px;
}

.boardgame-main {
  display: flex;
  flex-flow: row nowrap;
}

.dice-container {
  height: 981px;
  width: 478px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.player-panel {
  height: 416px;
  width: 386px;
  background-color: #f5f8f9;
  overflow: hidden;
}

.opponent-panel {
  height: 210px;
  width: 386px;
  background-color: #f5f8f9;
}

.boardgame-footer {
  position: initial;
}

.dice-paragraph {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  line-height: 1;
}

.tile-number {
  font-family: cinzel;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  line-height: 1;
}

.token {
  width: 56px;
  height: auto;
}
