.characters-flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  text-align: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-image {
  width: auto;
  height: 100%;
  border-radius: 14px;
}
.character-name {
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #253741;
  color: #f5f6f7;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 14px;
}

.characters-flip-card:hover .flip-card-inner,
.characters-flip-card:focus .flip-card-inner,
.characters-flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}

.flip-card-front {
  background-color: #f5f6f7;
  color: #0d0d0d;
}

.flip-card-back {
  background-color: #fdfeff;
  color: #0d0d0d;
  transform: rotateY(180deg);
  border: 1px solid #253741;
}

.card-p {
  padding: 10px;
}
