$blue-green: #253741;
$red: #730217;
$white: #f5f6f7;
$gold: #f4bd42;
$gray: #707070;

$menu-breakpoint: 880px;
$mobile-breakpoint: 560px;

$vertical-page-padding: 20px;

$gfx-path: './logosandtokens';
