.characters-choices {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.characters-flip-card {
  background-color: transparent;

  $card-side-margins: 25px;
  $card-height: 340px;

  height: $card-height;
  width: calc((100% / 5) - (#{$card-side-margins * 2}));
  perspective: 1000px;
  margin-left: $card-side-margins;
  margin-right: $card-side-margins;
  margin-bottom: 40px;
  text-align: center;
  cursor: pointer;

  @include smaller-than(1600px) {
    width: calc((100% / 4) - (#{$card-side-margins * 2}));
  }

  @include smaller-than(1240px) {
    width: calc((100% / 3) - (#{$card-side-margins * 2}));
  }

  @include smaller-than(940px) {
    width: calc((100% / 2) - (#{$card-side-margins * 2}));
  }

  @include smaller-than(640px) {
    width: 100%;
    max-width: $card-height;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.card-image {
  width: auto;
  height: 100%;
  border-radius: 14px;
}
.character-name {
  position: absolute;
  bottom: 0px;
  left: 0;
  background: $blue-green;
  color: $white;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 14px;
  backface-visibility: hidden;
}

.characters-flip-card:hover .flip-card-inner,
.characters-flip-card:focus .flip-card-inner,
.characters-flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}

.flip-card-front {
  background-color: $white;
  color: #0d0d0d;
}

.flip-card-back {
  background-color: $white;
  color: #0d0d0d;
  transform: rotateY(180deg);
  border: 1px solid $blue-green;
}

.card-p {
  font-size: 12px;
  font-family: montserrat;
  text-align: left;
  padding: 5px;
  line-height: 1.2;
  margin-left: 7px;
}

.character-select-button {
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: calc(100% + 2px);
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 14px;
}
