/*header*/
.header {
  background-color: $blue-green;
  color: $white;
  text-align: center;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  align-items: center;

  @include smaller-than($mobile-breakpoint) {
    padding: 0 5px;
  }
}

#menu-button {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 35px;
  background-color: transparent;
  border: none;
  display: none;

  @include smaller-than($menu-breakpoint) {
    display: block;
  }
}

#menu-bar-1,
#menu-bar-2,
#menu-bar-3 {
  display: block;
  width: 100%;
  height: 5px;
  background-color: $gold;
  margin: 6px 0;
  transition: 0.2s ease-in-out;
}

#menu-button.active #menu-bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

#menu-button.active #menu-bar-2 {
  opacity: 0;
}

#menu-button.active #menu-bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav-ul {
  font-family: raleway;
  list-style: none;

  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  flex-flow: row nowrap;
  align-items: center;

  transition: 0.2s ease-in-out;

  @include smaller-than($menu-breakpoint) {
    visibility: hidden;
    height: 0;

    position: absolute;
    top: 80px;
    left: 0;
    right: 0;

    padding: 0 0 0 30px;

    z-index: 500;
    border-top: 0.5px solid $gold;
    flex-flow: column;
    align-items: flex-start;

    background-color: $blue-green;

    &.active {
      padding: 20px 0 20px 30px;
      visibility: visible;
      height: auto;

      .nav-item {
        opacity: 1;
      }
    }
  }
}

.nav-item {
  &:first-of-type {
    margin-right: 100px;
    @include smaller-than($menu-breakpoint) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  @include smaller-than($menu-breakpoint) {
    opacity: 0;
  }
}

.nav-item-link {
  color: $white;
  text-decoration: none;
  font-size: 25px;
}

.nav-item-link:hover {
  color: $gold;
}

.logo-section {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $white;

  @include smaller-than($menu-breakpoint) {
    width: 100%;
    justify-content: flex-start;
  }
}

.logo-link {
  color: $white;
  height: 80px;
  width: 60px;
  margin-right: 20px;

  @include smaller-than($mobile-breakpoint) {
    margin-right: 10px;
  }
}

.logo-image {
  height: 100%;
  width: auto;
}

.header-title {
  font-family: cinzel;
  font-size: 40px;
  padding-left: 20px;
  @include smaller-than($mobile-breakpoint) {
    padding-left: 0;
  }
  @include mobile-title-font-size();
}

.active {
  color: $gold;
}
