%sword {
  max-width: 400px;
  height: auto;
  position: relative;
  top: 62px;
  width: 100%;
}

#redsword {
  @extend %sword;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

#bluesword {
  @extend %sword;
  right: 0;
  transform: rotate(90deg);
  transform-origin: bottom right;
}

.background-win {
  max-width: 600px;
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.swords-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85%;
  position: relative;

  @include smaller-than($mobile-breakpoint) {
    height: 100%;
  }
}

.main-win {
  width: 100%;
  height: 100%;

  overflow: hidden;
  position: relative;

  @include main-min-height();

  @include smaller-than($mobile-breakpoint) {
    height: initial;
  }
}

.win-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  font-size: 50px;
  font-family: cinzel;
  color: $blue-green;
  white-space: nowrap;

  @include smaller-than(1080px) {
    font-size: 36px;
  }

  @include smaller-than(860px) {
    font-size: 26px;
  }

  @include smaller-than($mobile-breakpoint) {
    font-size: 22px;
    margin: 10px auto;
  }
}

.win-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  width: 100%;

  @include smaller-than($mobile-breakpoint) {
    padding: 0 $vertical-page-padding;
  }

  .button {
    margin-right: 20px;
    @include smaller-than($mobile-breakpoint) {
      margin: 0 0 20px 0;
    }
  }
}

/*
The backgrund elements are placed in their own container, with absolute positioning
This is so they wont take up any space to shrink the swords to an unecessarily small sice,
since the sword are relative postion to enforce responisveness
*/
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: -5;

  @include smaller-than($mobile-breakpoint) {
    flex-flow: column;
    justify-content: flex-start;
  }
}
